.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  padding: 10px 20px;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  color: #333;
  font-size: 1.5em;
  font-weight: bold;
}

.nav-links {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-links a {
  color: #333;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #28a745;
}

.cart-link {
  display: flex;
  align-items: center;
}

.cart-icon {
  font-size: 1.5em;
  color: #333;
  transition: color 0.3s;
}

.cart-icon:hover {
  color: #28a745;
}

.profile-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.user-icon {
  font-size: 1.5em;
  color: #333;
  margin-left: 20px;
  transition: color 0.3s;
}

.user-icon:hover {
  color: #28a745;
}

.profile-dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-dropdown p {
  margin: 0;
  color: #333;
}

.profile-dropdown button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.profile-dropdown button:hover {
  background-color: #d32f2f;
}